@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	height: 100%;
}

body {
	background-color: #37424d;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #48a6fd;
}

input {
	height: 20px;
	padding: 3px 6px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

button {
	border: solid 1px #ccc;
    margin: 0px;
    padding: 0px;
    background-color: #f5f8fd;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #3A86FA;
	font-size: 13px;
	padding: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #eee;
}

.container {
	height: 100vh;
	width: 100vw;
	display: table;
}

.left-pane, .right-pane {
	vertical-align: top;
	display: table-cell;
	height: 100%;
}

#contact-list {
	height: 100%;
}

.left-pane {
	width: 400px;
	background-color: white;
	color: black;
}

.contact-list-container {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.contact-list-header { 
	background-color: #48a6fd;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
	color: white;
	padding: 10px;
	position: relative;
}

.contact-list-header h1 {
	font-weight: 500;
	margin: 0;
}

.contact-list-header .export-btn {
	position: absolute;
	right: 10px;
	top: 12px;
}

.contact-list-footer {
	background-color: #3A86FA;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	color: white;
}

.contact-list-footer .contact-list-add-title {
	margin: 0 0 10px 0;
}

.contact-list-footer .form-block {
	margin-bottom: 5px;
}

.contact-list-footer .form-block label {
	width: 100px;
	display: inline-block;
}

#contact-list-add-form {
	position: relative;
}

#contact-list-add-form input {
	width: 142px;
}

#contact-list-add-form button[type="submit"] {
	position: absolute;
	right: 5px;
	top: 0px;
	height: 94px;
	width: 94px;
	padding: 0;
}

#contact-list-add-form button[type="submit"] i {
	font-size: 50px;
	display: block;
}

.contact-list-ul {
	padding-bottom: 154px;
	position: absolute;
	top: 63px;
	bottom: 154px;
	background-color: #eee;
	left: 0px;
	right: 0px;
	overflow-y: scroll;
}

.contact-list-ul li {
	list-style: none;
	position: relative;
	height: 87px;
	width: 100%;
}

@-webkit-keyframes slideleft {
    100% { left: 0px; }
}

@keyframes slideleft {
    100% { left: 0px; }
}

@-webkit-keyframes slideup {
    100% { top: 0px; }
}

@keyframes slideup {
    100% { top: 0px; }
}

.contact-list-ul li .contact-list-item-container {
	left: 100%;
	top: 100vh;
	position: absolute;
	border-bottom: solid 1px #ccc;
	background-color: #f5f8fd;
	padding: 10px;
	width: 380px;
}

.contact-list-ul li .contact-list-item-container.slideleft {
	top: 0px;
	-webkit-animation: slideleft 0.5s forwards;
    -webkit-animation-delay: 0.1s;
    animation: slideleft 0.5s forwards;
    animation-delay: 0.1s;
}

.contact-list-ul li .contact-list-item-container.slideup {
	left: 0px;
	-webkit-animation: slideup 0.5s forwards;
    -webkit-animation-delay: 0.1s;
    animation: slideup 0.5s forwards;
    animation-delay: 0.1s;
}

.contact-list-ul li .contact-list-item-container.slidenone {
	left: 0px;
	top: 0px;
}

.contact-list-ul li .contact-img, .contact-list-ul li .contact-info {
	display: inline-block;
	vertical-align: top;
}

.contact-list-ul li .contact-img {
	margin-right: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #48a6fd;
	overflow: hidden;
	height: 64px;
	width: 64px;
	color: #48a6fd;
	font-size: 64px;
	text-align: center;
	background-color: #EEF0F2;
}

.contact-list-ul li .contact-img i {
	vertical-align: top;
}

.contact-list-ul li .contact-info {
	line-height: 32px;
}

.contact-list-ul li .contact-info .contact-info-name {
	font-weight: bold;
	font-size: 24px;
	width: 260px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.contact-list-ul li .contact-info .contact-info-phone {
	color: #aaa;
	font-size: 16px;
	text-decoration: none;
}	

.contact-list-ul li:hover .contact-actions {
	display: block;
}

.contact-list-ul li .contact-actions {
	display: none;
	position: absolute;
	right: 10px;
	top: 26px;
}

.contact-list-ul li .contact-actions button {
	height: 32px;
	padding: 2px 7px;
	cursor: pointer;
	font-size: 22px;
}

.contact-list-ul li .contact-actions .remove-contact-btn i {
	color: #FF331F;
}

.json-container, .action-container {
	background-color: #48a6fd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #545454;
	padding: 20px;
	display: block;
	margin: auto;
	width: 554px;
	overflow: hidden;
}

.json-container {
	margin-top: 20px;
	margin-bottom: 30px;
}

.json-container textarea {
	font-size: 14px;
	width: 550px;
	height: 200px;
}

.json-title, .action-title {
	text-align: center;
	margin: 0 0 10px 0;
}

.json-container .form-controls {
	background-color: #eee;
	margin: 10px -20px -20px -20px;
	padding: 10px;
	text-align: center;
}

.action-list-container {
	width: 530px;
	height: 200px;
	background-color: white;
	overflow-y: scroll;
	color: black;
	padding: 10px;
}

.action-list-container ul li {
	list-style: none;
	font-size: 13px;
}

.action-list-container ul li .timestamp {
	font-size: 12px;
	color: #888;
}


