<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="Simple Contacts App">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="left-pane">
                <div id="contact-list"></div>
            </div>
            <div class="right-pane">
                <div id="json"></div>
                <div id="action-list"></div>
            </div>
        </div>

        <!-- Templates -->
        <script type="text/template" class="template" id="contact-list-template">
            <div class="contact-list-container">
                <div class="contact-list-header">
                    <h1>
                        My Contacts
                    </h1>
                    <button class="export-btn" title="Export Contacts">
                        Export Contacts
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
                <ul class="contact-list-ul">
                <% each model %>
                    <li data-idx="<% print index %>">
                        <div class="contact-list-item-container slide<% print slide %>" >
                            <div class="contact-img">
                                <i class="fa fa-user" style="color: <% print color %>"></i>
                            </div>
                            <div class="contact-info">
                                <div class="contact-info-name">
                                    <% print firstName %>&nbsp;<% print lastName %>
                                </div>
                                <div class="contact-info-phone">
                                    <a href="tel: <% print phoneNumber %> " > <% print phoneNumber %></a>
                                </div>
                            </div>
                            <div class="contact-actions">
                                <button class="remove-contact-btn" data-idx="<% print index %>" title="Remove <% print firstName %>">
                                    <i data-idx="<% print index %>" class="fa fa-trash-o"></i>
                                </button>  
                            </div>
                        </div>
                    </li>
                <% end %>
                </ul>
                <div class="contact-list-footer">
                    <h3 class="contact-list-add-title">
                        Add New Contact:
                    </h3>
                    <form id="contact-list-add-form">
                        <div class="form-block">
                            <label for="firstname">First Name</label>
                            <input type="text" required name="firstname" data-formattedname="FirstName" placeholder="Brett">
                        </div>
                        <div class="form-block">
                            <label for="lastname">Last Name</label>
                            <input type="text" required name="lastname" data-formattedname="LastName" placeholder="Hellman">
                        </div>
                        <div class="form-block">
                            <label for="phonenumber">Phone #</label>
                            <!-- The regex below was taken from http://stackoverflow.com/questions/123559/a-comprehensive-regex-for-phone-number-validation -->
                            <input type="tel" required name="phonenumber" pattern="(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" data-formattedname="PhoneNumber" placeholder="555-555-5555">
                        </div>
                        <button type="submit" class="submit-btn" title="Add Contact">
                            <i class="fa fa-user-plus"></i>
                            Add Contact
                        </button>
                    </form>
                </div>
            </div>
        </script>
        <script type="text/template" class="template" id="json-template">
            <div class="json-container">
                <h3 class="json-title">
                    Import JSON Contacts
                </h3>
                <form id="json-import-form">
                    <div class="form-block">
                        <textarea name="json" id="json-area">
[{
    "First Name": "Brett",
    "Last Name": "Hellman",
    "Phone Number": "555-555-5555"
}]
                        </textarea>
                    </div>
                    <div class="form-block form-controls">
                        <button type="submit" class="submit-btn" title="Add Contact">
                            <i class="fa fa-arrow-left"></i>
                            Import to Contacts
                        </button>
                    </div>
                </form>
            </div>
        </script>
        <script type="text/template" class="template" id="action-list-template">
            <div class="action-container">
                <h3 class="action-title">
                    Tracked User Actions
                </h3>
                <div class="action-list-container">
                    <ul>
                        <% eachreverse model %>
                            <li "action-list-item">
                                <% print title %>
                                <span class="timestamp"> (timestamp: <% print timestamp %>)</span>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </script>
        <!-- End Templates -->

        <script src="js/tinymvc.js"></script>
        <script src="js/app.js"></script>
        <script src="js/models/contact.js"></script>
        <script src="js/models/action.js"></script>
        <script src="js/views/contactView.js"></script>
        <script src="js/views/actionView.js"></script>
        <script src="js/views/jsonView.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
